body {
	font-family: 'Allerta Stencil', sans-serif !important;
		letter-spacing: -0.015em;
	text-align: left;
}
p.b {
  font-family: Arial, Helvetica, sans-serif;
		font-size: .1rem !important;
}
svg, img, embed, object {
    display: inline !important;
}
.imgmargin {
margin: .9em !important;
}
.entry-content {
  font-size: 2.rem;
	font-weight: 200;
	text-align: justify;
}
em, i, q, dfn {
  font-style: italic;
	font-size: 2.rem;
	margin-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 0 !important;
	text-align: justify !important;
}
.singular .entry-header {
	/*background-image: url("images/BG-khaki.jpg");*/
	background-color:#6e7653;
	padding: 2rem 0;
}
.singular:not(.overlay-header) .entry-header .post-meta a {
    color: 
    #fff;
}
.singular .entry-header .post-meta {
    color: 
    #f6dd95;
}
.section-inner {
	border:0px solid red;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: calc(95% - 4rem);
}
.wp-block-embed figcaption {
	margin-top:.5em;margin-bottom:1em;
}
.wp-caption-text {
	text-align:center;
}
figcaption {	
	position:relative;
	bottom:0;
	max-width:100% !important;
	padding-left:10%;
	padding-right:10%;
	max-height:100%;
	overflow:visible;
	text-align:justify;
	font-size: 1em;
}
.wp-caption {
	position:relative !important;
	text-align:center;
	width:auto !important;
	max-height:100%;
	overflow:hidden;
  margin: auto;
	padding:0;
	bottom:1em;
}
.singular .featured-media-inner {
    position: relative;
    left: calc(50% - 50vw);
}
.entry-content p, .entry-content ol, .entry-content ul, .entry-content dl, .entry-content dt {
  font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
}
body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote::before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover {
    color: #f6dd95;
}
.color-accent, .color-accent-hover:hover, .color-accent-hover:focus, :root .has-accent-color, .has-drop-cap:not(:focus)::first-letter, .wp-block-button.is-style-outline, a {
    color: 
    #424732;
}
.site-description, .entry-header {
    color:
    #f6dd95;
}
.toggle-inner .toggle-text a {
    color: 
    #f6dd95 !important;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
body:not(.overlay-header) .toggle-inner .toggle-text {
    color: 
    #f6dd95 !important;
	}
.header-footer-group, body:not(.overlay-header) #site-header .toggle, .menu-modal .toggle {
    color:
    #f6dd95;
}
.menu-modal-inner {
        background-color: #424732;
}
.singular .featured-media::before {
    background: 
    #424732 !important;
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
}
.primary-menu ul a {
    background: #424732 !important;
    border: none;
    color: #f6dd95;
    display: block;
    padding: .2rem .2rem;
    transition: background-color 0.15s linear;
}
body:not(.overlay-header) .primary-menu > li > ul::after {
    border-bottom-color:
    #424732;
		border:1px solid #f6dd95;
}
.primary-menu ul::after {
    border: 0.8rem solid
    #f6dd95;
    right: 1.8rem;
	text-shadow: 1px 1px 3px #fff;
}
body:not(.overlay-header) .primary-menu ul {
    background-color:
    #424732;
}
button:not(.toggle), .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"], .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, :root .has-accent-background-color, .comment-reply-link {
    background-color: 
    #424732;
}
.footer-nav-widgets-wrapper {
    background-color: 
    #424732;
	color:#f6dd95;
}
h1.entry-title, h2.entry-title, h3.entry-title, h4.entry-title,   h1.entry-content, h2.entry-content, h3.entry-content, h4.entry-content {
	color:inherit;
}
	h1.entry-title {
	margin: 1rem auto 1.5rem;
	font-size: 5rem;
	text-shadow: 2px 2px 6px #000;
}
	h2.entry-title, h2.heading-size-2 {
	margin: 2rem auto 1rem;
	font-size: 3rem;
	text-shadow: 1px 1px 3px #fff;
}
h2, .heading-size-2 {
    font-size: 3rem;
}
	h3, h3.entry-title, h3.heading-size-3 {
	margin: 1.5rem auto 1rem;
	font-size: 2.5rem !important;
	text-shadow: 1px 1px 2px #fff;
}
	h4, h4.entry-title, h4.heading-size-4 {
	margin: 1.5rem auto 0.8rem;
	font-size: 2rem !important;
	text-shadow: 1px 1px 1px #fff;
}	
menu-modal.cover-modal {
    background: 
    rgba(66, 71, 50, 0);
}
menu-modal-inner {
    background: #fff !important;
	box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.5);
	}
.header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
	    background: 
    rgba(66, 71, 50, 0);
		color:#ff0000;
}
#site-header {
    background: 
    #424732;
    position: relative;
}
.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
	    background: 
    #424732;
}
.size-post-thumbnail {
    display: block !important;
}	
.comment-reply-title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3rem;
}
.responsive {
  max-width: 100%;
	display: inline;
}
.toggle-icon {
    display: block;
    overflow: hidden;
	color:#f6dd95;
}
.nav-toggle .toggle-icon, .nav-toggle svg {
    height: 2rem;
    width: -1rem;
}
.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 120rem !important;
    width: calc(90% - 4rem);
}
.spoiler { background: #eaeaea; }
.spoiler:hover { 
    background: transparent; 
}
button, input[type="button"], input[type="submit"] {
    background-color: #f6dd95;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    font-weight: 300;
    line-height: .5em;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}
	.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.entry-content img, 
.entry-content iframe, 
.entry-content object, 
.entry-content embed {
        max-width: 100%;
}

/*The following Code is written by wordpress user jeffgaydos. Contact Jeff_G#1234 on discord if issues arise.*/
.site-logo.faux-heading {
	display: inline-block;
}

img.wp-spaios-slider-image {
    max-height: 350px;
}

.site-description {
	display: inline-block;
	word-break: break-word;
	min-width: 100px;
}

.header-titles .tec-donation {
		position: relative;
		top: 8px;
}

@media(max-width: 1550px) {
	.site-description {
		width: 10vh;
	}
	.header-navigation-wrapper {
		width: 50%;	
	}
}

@media(max-width: 1100px) {
	.header-navigation-wrapper {
		width: 45%;	
	}
}

@media(max-width: 1000px) {
	.site-description {
		position: relative;
		top: -15px;
	}
	
	.header-titles .tec-donation {
		position: relative;
		top: -20px;
	}
	
	div.post-inner th h2 {
	  font-size: 3vw !important;
		margin: 2vw 0;
  }
}

@media(max-width: 700px) {
	.site-description {
		display: none;
	}
	
	.header-titles .tec-donation {
		position: relative;
		top: -5px;
	}
}

@media(max-width: 440px) {
	.header-titles .tec-donation img {
		height: 30px !important;
		width: auto !important;
		position: relative !important;
		top: -8px !important;
		padding: 0px 2px 2px 10px !important;
	}
	
	.header-titles .tec-donation {
		
	}
	
	.tec_dm_div {
		padding-left: 15px !important;
		width: 6rem !important;
	}
	
	.tec_dm_button {
		width: 6rem !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	
	.tec_dm_button p {
		font-size: 15px !important;
	}
}

@media(max-width: 355px) {
	.header-titles .tec-donation {
		display: none;
	}
}

/*Gallery Styling*/
.tec_g_pos_ind.current, .tec_g_pos_ind.hovered {
	background-color: #f6dd95 !important;
}

/*Additional Misc. Styling*/
#cookie-law-info-bar {
	z-index: 2147483641 !important;
}

.entry-content figure {
	padding-top: 4rem;
}
.entry-content figure figcaption, .wp-caption-text {
	margin-top: .5rem;
}

div.post-inner tr, div.post-inner td, div.post-inner th {
	font-size: min(2.25vw, 1.8rem);
}

.comment-form-cookies-consent {
	display: block !important
}

/*Patreon Styles*/
@media only screen and (min-width: 920px) {
  #competition_div {
    height: 0px;
		text-align: right;
  }
}
@media only screen and (min-width: 920px) {
  #competition_img {
    position:absolute;
    margin-top:-230px;
		width:170px;
		margin-left: -185px;
		filter:
        drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5))
        drop-shadow(-1px 1px 0px rgba(255, 255, 255, 0.5))
        drop-shadow(1px -1px 0px var(--te-yellow))
        drop-shadow(-1px -1px 0px var(--te-yellow));
  }
}
@media only screen and (min-width: 920px) {
  #competition_p {
    position:absolute;
		margin-top: -55px;
		display: inline;
		margin-left: -200px;
		width: 200px;
  }
}
